/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

/* Header styling */
header {
    width: 100%;
    background: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
    text-align: center;
}

/* Navigation styling */
nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Style for the sign-in button in navigation */
nav ul li button {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

nav ul li button:hover {
    background-color: #357ae8;
}

/* Main content styling for all pages */
main {
    padding: 70px 20px 20px; /* Default padding for all pages */
    text-align: center;
}

/* Specific styling for homepage */
.home-page {
    padding: 120px 20px 20px; /* Increased top padding for the homepage */
    background-color: #fff; /* Background color for main content */
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Centering images and iframes */
.image-container, .iframe-container {
    text-align: center;
    margin: 20px auto;
}

.image-container img, .iframe-container iframe {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

/* Footer styling */
footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

/* Responsive design adjustments */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
