body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto; /* Make the entire page scrollable */
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.table-container {
    max-height: 70vh; /* Adjust the height as needed */
    overflow-y: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Ensure the modal is as wide as the screen */
.full-width-modal .modal-dialog {
    max-width: 100%;
    margin: 0;
}

.full-width-modal .modal-content {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
}
